@import "https://goo.gl/MyNWOf";
.matrix {
  background: #000;
  font: bold 11px "Orbitron";
  letter-spacing: 1.5px;
  text-shadow: 0 0 11px #39ff14;
  display: inline-block;
  color: #39ff14;
  position: relative;
}
@keyframes matrix-1 {
  0%,
  66.7% {
    clip: rect(11px, auto, 6px, 0);
  }
  16.7%,
  100% {
    clip: rect(4px, auto, 2px, 0);
  }
  33.3% {
    clip: rect(10px, auto, 9px, 0);
  }
  50% {
    clip: rect(2px, auto, 4px, 0);
  }
  83.3% {
    clip: rect(5px, auto, 8px, 0);
  }
}
@keyframes matrix-2 {
  0% {
    clip: rect(4px, auto, 12px, 0);
  }
  16.7% {
    clip: rect(7px, auto, 1px, 0);
  }
  33.3% {
    clip: rect(9px, auto, 5px, 0);
  }
  50% {
    clip: rect(5px, auto, 4px, 0);
  }
  66.7%,
  100% {
    clip: rect(11px, auto, 1px, 0);
  }
  83.3% {
    clip: rect(6px, auto, 10px, 0);
  }
}
.matrix:before,
.matrix:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip: rect(0, 0, 0, 0);
}
.matrix:after {
  left: 2px;
  text-shadow: -1px 0 #000;
  background: #000;
  animation: matrix-1 2s infinite linear alternate-reverse;
}
.matrix:before {
  left: -2px;
  text-shadow: 2px 0 #000;
  background: #000;
  animation: matrix-2 3s infinite linear alternate-reverse;
}
